# py env folder 
env_amd
__pycache__/
.ipynb_checkpoints/

# Compiled Object files
**/*.o

# executables
**/*.exe

# lib files
**/*.d
**/*.so
**/*.pcm

# Fortran module files
**/*.mod
**/*.smod

# temp files
.directory
*.log

# vscode setting
.vscode

# results
result
ipynb
scripts

# executable 
*.exe

# test-area and old scripts
testing
old

