

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

#Unignore makefiles
!**/Makefile
!**/makefile


# py env folder 
**/env
__pycache__/
.ipynb_checkpoints/

# Compiled Object files
**/*.o

# executables
**/*.exe

# lib files
**/*.d
**/*.so
**/*.pcm

# Fortran module files
**/*.mod
**/*.smod


# Result, Data, old files
*/*.root
**/data

# temp files
**/.directory
**/*.log
**/*.png
.vscode
# py env
env_amd
